.card {
  border-width: 4px;
  border-radius: 12px;
  padding: 4px;
}

.table {
  width: 100%;
  max-width: 100% !important;
  overflow-y: auto;
  overflow-x: hidden;
  table-layout: fixed;
  border: none;
}

.th1 {
  width: 7%;
}

.th2 {
  width: 30%;
}

.th {
  width: 20%;
  overflow-x: hidden !important;
  white-space: normal !important;
}

.totals {
  max-width: 5% !important;
}

.table2 {
  margin-top: 3%;
}

.text {
  font-size: 12px;
}

.buttonDiv {
  display: block;
  width: 100%;
  text-align: right;
}

.getNew {
  height: 50px;
  width: max-content;
  padding-left: 8px;
  padding-right: 8px;
  margin: 10px;
  margin-right: 20px;
  background-color: pink;
  border-style: solid;
  border-color: grey;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

@media screen and (max-width: 300px) {
  .th2,
  .th,
  .th1 {
    font-size: x-small;
  }

  .th2 {
    width: 28%;
  }
}
